# Copia este archivo como .env y rellena tus datos
TELEGRAM_BOT_TOKEN=tu_token_de_telegram_aqui

# Token de Biwenger y ID de la liga
BIWENGER_TOKEN=tu_token_de_biwenger_aqui
BIWENGER_LEAGUE_ID=tu_id_de_liga_biwenger_aqui
